<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>RegistedController</display-name>
    <servlet-name>RegistedController</servlet-name>
    <servlet-class>com.RevShop.controller.RegistedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistedController</servlet-name>
    <url-pattern>/RegistedController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.RevShop.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerRegistrationServlet</display-name>
    <servlet-name>SellerRegistrationServlet</servlet-name>
    <servlet-class>com.RevShop.controller.SellerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerRegistrationServlet</servlet-name>
    <url-pattern>/SellerRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sellerLogin</display-name>
    <servlet-name>sellerLogin</servlet-name>
    <servlet-class>com.RevShop.controller.sellerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerLogin</servlet-name>
    <url-pattern>/sellerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.RevShop.controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductDetailsServlet</display-name>
    <servlet-name>ViewProductDetailsServlet</servlet-name>
    <servlet-class>com.RevShop.controller.ViewProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductDetailsServlet</servlet-name>
    <url-pattern>/ViewProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCategoryServlet</display-name>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <servlet-class>com.RevShop.controller.ProductCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <url-pattern>/ProductCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartItemServlet</display-name>
    <servlet-name>CartItemServlet</servlet-name>
    <servlet-class>com.RevShop.controller.CartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartItemServlet</servlet-name>
    <url-pattern>/CartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.RevShop.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutController</display-name>
    <servlet-name>CheckOutController</servlet-name>
    <servlet-class>com.RevShop.controller.CheckOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutController</servlet-name>
    <url-pattern>/CheckOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryController</display-name>
    <servlet-name>OrderHistoryController</servlet-name>
    <servlet-class>com.RevShop.controller.OrderHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryController</servlet-name>
    <url-pattern>/OrderHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReviewServlet</display-name>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <servlet-class>com.RevShop.controller.SubmitReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <url-pattern>/SubmitReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessPaymentServlet</display-name>
    <servlet-name>ProcessPaymentServlet</servlet-name>
    <servlet-class>com.RevShop.controller.ProcessPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPaymentServlet</servlet-name>
    <url-pattern>/ProcessPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.RevShop.controller.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
</web-app>